:root {
  --yellow-primary: rgba(235, 205, 58, 1);
  --yellow-primary-semitransparent: rgba(235, 205, 58, 0.8);
  --green-primary: rgba(96, 187, 56, 1);
  --font-primary: "Open Sans", sans-serif;
  --background-semitransparent: rgba(245, 245, 245, 0.6);
  --footer-background: rgba(217, 217, 217, 0.15);
}

header {
  -webkit-box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
          box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.logo a img {
  height: 116px;
  padding: 10px 0;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 16px;
  /*font settings*/
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.category-link:hover, .category-link:focus {
  -webkit-box-shadow: inset 0 0 0 2em var(--yellow-primary);
          box-shadow: inset 0 0 0 2em var(--yellow-primary);
  border-color: var(--yellow-primary);
  border-radius: 16px;
}

.category-active {
  height: 46px;
  border: 1px solid var(--yellow-primary);
  border-radius: 23px !important;
  background-color: var(--yellow-primary);
  color: #fff;
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.content {
  background-image: url(../img/salads/image_1.png), url(../img/salads/image_2.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 872px 872px, 857px 612px;
  background-position: -58% 168px, 145% 876px;
  width: 1536px;
  margin: 0 auto;
}

.meal-list {
  background-color: var(--background-semitransparent);
  padding: 40px 80px;
  margin-bottom: 102px;
}

h1 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  color: #000;
  margin-bottom: 30px;
}

h2 {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  color: #000;
}

.meal-card img {
  width: 100%;
}

.about {
  margin-left: -36px;
}

.meal-description {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: #000;
  letter-spacing: -0.015em;
  margin-top: 22px;
}

footer {
  background-color: var(--footer-background);
}

.footer_ {
  height: 210px;
  vertical-align: middle;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_ .footer__text {
  display: inline-block;
  font-style: normal;
  font-weight: 300;
  font-family: var(--font-primary);
  font-size: 20px;
  line-height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: -0.015em;
}

.type {
  position: relative;
  height: 42px;
  left: 286px;
  top: -300px;
  background-color: var(--yellow-primary);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-primary);
  color: #fff;
  padding: 0 38px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.empty {
  height: 42px;
  left: 286px;
  top: -300px;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 116px;
  padding: 1em;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  -webkit-transform: rotate(-405deg);
          transform: rotate(-405deg);
}

@media (max-width: 768px) {
  .menu-button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 116px;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 2.5em;
    padding: 0.5em;
    -webkit-transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--green-primary);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .content {
    width: auto;
    background-image: url(../img/salads/image_1.png), url(../img/salads/image_2.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 436px 436px, 429px 306px;
    background-position: 150% 168px, -20% 90%;
  }
  .col-xl-1 {
    display: none;
  }
  .meal-list {
    background-color: rgba(217, 217, 217, 0);
    padding: 26px 20px;
  }
  .meal-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 5px 0;
    margin-bottom: 20px;
    background-color: var(--background-semitransparent);
  }
  .meal-card h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 28px;
    width: 350px;
  }
  .meal-card div:first-child {
    height: 160px;
  }
  .meal-card div:first-child img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .about {
    margin: 0;
  }
  .type {
    left: 88px;
    top: -170px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    padding: 0 19px;
  }
  .empty {
    display: none;
  }
  .meal-description {
    margin-top: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
  }
  .category:hover {
    background-color: var(--yellow-primary);
    border-color: var(--yellow-primary);
  }
  .category-link {
    -webkit-transition: none;
    transition: none;
  }
  .top-nav {
    padding: 0 47px;
  }
  .footer_ {
    height: 100px;
    padding: 0 40px;
  }
  .footer_ .footer__text {
    font-size: 16px;
    line-height: 11px;
  }
}
