:root {
	--yellow-primary: #ebcd3a;
	--green-primary: #60bb38;
	--font-primary: "Open Sans", sans-serif;
}

//Header
header {
	box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

.header {
	// background-color: var(--yellow-primary);
}

.logo {
}

.category {
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 13px 16px;
		/*font settings*/
		font-family: var(--font-primary);
		font-style: normal;
		font-weight: 600;
		font-size: 15px;
		line-height: 20px;
		color: #000;

		&:hover {
			border: 1px solid var(--yellow-primary);
			border-radius: 23px;
			background-color: var(--yellow-primary);
		}
	}
}

.category-active {
	height: 46px;
	border: 1px solid var(--yellow-primary);
	border-radius: 23px;
	background-color: var(--yellow-primary);
}
